// Grid & Breakpoints
$width-sm:              320px;
$width-md:              640px;
$width:                 1100px;
$small:                 720px;
$gutter:                1.5rem;
$gutter-lg:             $gutter * 2;
$gutter-sm:             $gutter / 2;

// Color Scheme
$black:                 #000;
$white:                 #fff;

$purple:                #572A72;
$purple-l:              #754B8E;
$purple-xl:            #9775AA;
$purple-d:              #3C1255;
$purple-xd:            #250339;